<div class="row">

  <div class="large-6 columns text-center">
    <%= image_tag "floating.png", :alt=>"floating alien mascot" %></div>

  <div class="large-6 columns marginalize-top">
    <h3 class="show-for-small">We create solutions for lost websites</h3>
    <h4 class="hide-for-small">We create solutions for lost websites</h4>
    <h5 class="subheader">
      A website should help market your business and bring in new revenue. Let us take care of the hard stuff and help maximize the return on your website.
    </h5>
    <br>
    <h3 class="show-for-small">Offering Service in Corpus Christi</h3>
    <h4 class="hide-for-small">Offering Service in Corpus Christi</h4>
    <h5 class="subheader">
      Our primary area of operation is in Corpus Christi, TX.  As such, we typically work with clients from the surrounding areas - if you are outside of town don't hesitate to call and see if we can find a solution for your area.
    </h5>
  </div>

</div>
<hr>
<div class="row">

  <div class="hide-for-small large-6 columns text-right marginalize-top">
    <h3 class="show-for-small">
      We offer web development services that make your business better
    </h3>
    <h4 class="hide-for-small">
      We offer web development services that make your business better
    </h4>
    <h5 class="subheader">
      An effective website turns a visitor into a customer. By understanding the
      <span>science</span>
      behind this we can create custom designed websites which make your business stand out.
    </h5>
  </div>

  <div class="large-6 columns text-center">
    <%= image_tag "standing.png", :alt=>"standing alien mascot" %></div>

  <div class="show-for-small large-6 columns">
    <h3 class="show-for-small">
      We offer web development services that make your business better.
    </h3>
    <h4 class="hide-for-small">
      We offer web development services that make your business better.
    </h4>
    <h5 class="subheader">
      An effective website turns a visitor into a customer. By understanding the
      <span>science</span>
      behind this we can create custom designed websites which make your business stand out.
    </h5>
  </div>

</div>
<hr>
<div class="row" id="services">
  <div class="large-6 columns">
    <div class="text-center">
      <%= image_tag "home_page/shopping_cart.png", :alt=>
      "shopping cart" %>
      <h4 class="show-for-small">Create New Shopping Experiences</h4>
      <h4 class="hide-for-small">Create New Shopping Experiences</h4>
    </div>
    <p class="subheader text-center">
      Online stores are a great way to expand your business.  Not only can we get your store online, we can create a marketing tactic that will yield predictable sales.
    </p>
  </div>
  <div class="large-6 columns">
    <div class="text-center">
      <%= image_tag "home_page/custom_software.png", :alt=>
      "customized software" %>
      <h4 class="show-for-small">Forge Customized Tools For Your Business</h4>
      <h4 class="hide-for-small">Forge Customized Tools For Your Business</h4>
    </div>
    <p class="subheader text-center">
      We build web applications that are specially-made to meet the needs of your business. Need to allow your customers to set up appointments? Want to track monthly quotas and performance? We've got this covered.
    </p>
  </div>
</div>

<div class="row">
  <div class="large-6 columns">
    <div class="text-center">
      <%= image_tag "home_page/virtual_business_card.png", :alt=>
      "virtual business card" %>
      <h4 class="show-for-small">Set Up Quick Profiles</h4>
      <h4 class="hide-for-small">Set Up Quick Profiles</h4>
    </div>
    <p class="subheader text-center">
      Maybe you just need something simple. We can set up single page profiles that convey what you do without the cost of a large-scale website.
    </p>
  </div>
  <div class="large-6 columns">
    <div class="text-center">
      <%= image_tag "home_page/event_broadcaster.png", :alt=>
      "microphone" %>
      <h4 class="show-for-small">Broadcast Your Event</h4>
      <h4 class="hide-for-small">Broadcast Your Event</h4>
    </div>
    <p class="subheader text-center">
      You have a one-time event, and it's coming up quick. We can provide a more rapid turnaround time for these situations.
    </p>
  </div>

</div>