<div class="row">
  <div class="12 columns text-center">
    <h1>Getting Online</h1>
  </div>
  <div class="large-6 columns text-center">
    <%= link_to (image_tag "dannysincometax.png", :alt=>
    "Danny's Income Tax"), "http://dannystaxprep.com/" %>
    <br>
  </div>

  <div class="large-6 columns">
    <h3 class="show-for-small">Background</h3>
    <h4 class="hide-for-small">Background</h4>
    <h5 class="subheader">
      Danny's Income Tax Service had been a successful tax preperation business for over a decade, but never made a committment to a professionally designed website.
    </h5>
    <h3 class="show-for-small">Results</h3>
    <h4 class="hide-for-small">Results</h4>
    <h5 class="subheader">
      In the tax season following the launch of the website, revenues were up over 17% from the previous year.
    </h5>
    <h5 class="subheader">
      In addition to having a more apparent presence when new clients are searching online for tax preparation services, Danny is looking to market his IRS resolution services nation-wide with a future website expansion.
    </h5>
  </div>

</div>
<hr>

<div class="row">
  <div class="12 columns text-center">
    <h1>Communicating With Guests</h1>
  </div>
  <div class="hide-for-small large-6 columns">
    <h3 class="show-for-small">Background</h3>
    <h4 class="hide-for-small">Background</h4>
    <h5 class="subheader">
      The Bleu Bistro aquired a new lead chef and was looking to communicate their new menu to their guests.
    </h5>
    <h3 class="show-for-small">Results</h3>
    <h4 class="hide-for-small">Results</h4>
    <h5 class="subheader">
      With an attractive layout that matched the ambiance of the restaurant itself, the Bleu Bistro was able to display its new menu with detailed pictures of all of their dishes.
    </h5>
    <h5 class="subheader">
      The management is also able to update their website to communicate changes and events using an interface that is as simple as checking your email.
    </h5>
  </div>

  <div class="large-6 columns text-center">
    <%= link_to (image_tag "bleubistro.png", :alt=>
    "Bleu Bistro"), "http://bleubistrocc.com/" %>
    <br>
  </div>

  <div class="show-for-small large-6 columns">
    <h3 class="show-for-small">Background</h3>
    <h4 class="hide-for-small">Background</h4>
    <h5 class="subheader">
      The Bleu Bistro aquired a new lead chef and was looking to communicate their new menu to their previous guests.
    </h5>
    <h3 class="show-for-small">Results</h3>
    <h4 class="hide-for-small">Results</h4>
    <h5 class="subheader">
      With an attractive layout that matched the ambiance of the restaurant itself, the Bleu Bistro was able to display its new menu with detailed pictures of all of their dishes.
    </h5>
    <h5 class="subheader">
      The management is also able to update their website to communicate changes and events using an interface that is as simple as checking your email.
    </h5>
  </div>

</div>
<hr>

<div class="row">
  <div class="12 columns text-center">
    <h1>A Hobby Turned Business</h1>
  </div>
  <div class="large-6 columns text-center">
    <%= link_to (image_tag "angelwood.png", :alt=>
    "AngelWood of South Texas"), "http://angelwoodofsouthtexas.com/" %>
    <br>
  </div>
  <div class="large-6 columns">
    <h3 class="show-for-small">Background</h3>
    <h4 class="hide-for-small">Background</h4>
    <h5 class="subheader">
      Harry Angel enjoys bringing out the natural beauty of wood.  His skill at sculpting mesquite drew enough attention to realize he could make a business of his hobby.  After successfully sculpting and selling face-to-face for a number of years, he and his wife decided it was time to enhance their online presence.
    </h5>
    <h3 class="show-for-small">Results</h3>
    <h4 class="hide-for-small">Results</h4>
    <h5 class="subheader">
      We designed an online store that matched the aesthetics of the sculptures themselves.  Angel Wood of South Texas, Harry's company, can now use the website as a tool to enhance the visibility of past work while being able to sell new work.
    </h5>
    <h5 class="subheader">
      The website is not only funcitonal as a storefront, it is a full featured marketing tool.  From the search terms guests used to get there, to how many items a guests added to their basket, the ability to track various data allows Angel Wood to plan any future online marketing techniques appropriately and efficiently.
    </h5>
  </div>

</div>
<hr>

<div class="row">
  <div class="12 columns text-center">
    <h1>Custom Built Software to Make a Job Easier</h1>
  </div>
  <div class="hide-for-small large-6 columns">
    <h3 class="show-for-small">Background</h3>
    <h4 class="hide-for-small">Background</h4>
    <h5 class="subheader">
      A branch of the Diocese of Corpus Christi, the St. Paul School of Catechism, needed a simpler way of managing their private school's paperwork.
    </h5>
    <h3 class="show-for-small">Results</h3>
    <h4 class="hide-for-small">Results</h4>
    <h5 class="subheader">
      We built a customized application that allows teachers to record grades and attendance for their students without physical paperwork that would have to be passed on to the school's administration recordkeeping.
    </h5>
    <h5 class="subheader">
      The administration can spend less time worrying about where paperwork is and more time actually managing the education program.
    </h5>
  </div>

  <div class="large-6 columns text-center">
    <%= image_tag "spsc.png", :alt=>
    "St. Paul School of Catechism" %>
    <br>
  </div>

  <div class="show-for-small large-6 columns">
    <h3 class="show-for-small">Background</h3>
    <h4 class="hide-for-small">Background</h4>
    <h5 class="subheader">
      A branch of the Diocese of Corpus Christi, the St. Paul School of Catechism, needed a simpler way of managing their private school's paperwork.
    </h5>
    <h3 class="show-for-small">Results</h3>
    <h4 class="hide-for-small">Results</h4>
    <h5 class="subheader">
      We built a customized application that allows teachers to record grades and attendance for their students without physical paperwork that would have to be passed on to the school's administration recordkeeping.
    </h5>
    <h5 class="subheader">
      The administration can spend less time worrying about where paperwork is and more time actually managing the education program.
    </h5>
  </div>

</div>
<hr>

<div class="row">
  <div class="12 columns text-center">
    <h1>We Even Do Redesigns</h1>
  </div>
  <div class="large-6 columns text-center">
    <%= image_tag "cleandesign.png", :alt=>
    "Clean Design" %>
    <br>
  </div>

  <div class="large-6 columns">
    <h3 class="show-for-small">Background</h3>
    <h4 class="hide-for-small">Background</h4>
    <h5 class="subheader">
      A great example of this is with Lost Tie's own previous website.  We were bored with the design and wanted to change things around.
    </h5>
    <h3 class="show-for-small">Results</h3>
    <h4 class="hide-for-small">Results</h4>
    <h5 class="subheader">
      We updated our design to more clearly reflect our company's culture.  We wanted our website to be an extension of how we operate behind the scenes: clean, organized, and not distracted by outside noise.
    </h5>
    <h5 class="subheader">
      Not only the looks of the website have changed, but the technology powering it has changed.  Our company moved focus toward developing Ruby on Rails applications instead of ASP.NET applications. . .  so we wanted the website to move along with us.
    </h5>
  </div>

</div>